 <div class="vertical-center">
     <div class="row justify-content-center">
         <div class="col-8">
             <h1 class="text-left"><span class="font-weight-bold gradient-text">14+ years online experience</span> as a developer & designer</h1>
             <h2 class="text-left mt-5">I am a front-end developer with a strong foundation in design, which leads to better user experiences in less time.</h2>
         </div>
     </div>
     <div class="row justify-content-center mt-5">
        <div class="col-4">
            <h4>FRONT-END DEVELOPMENT</h4>
            <p>I have extensive knowledge of HTML, CSS & JavaScript (ES6), TypeScript and experience with the 3 most popular frameworks (React, Vue & Angular*). Add ambition, endless curiosity and a GTD‑mindset and you have a pretty complete picture of me.</p>
        </div>
        <div class="col-4">
            <h4>DIGITAL DESIGNER</h4>
            <p>I speak the designer mumbo-jumbo and dare to make design decisions while coding. This saves valuable development time, endless ping-ponging with designers and often looks even better than the original design. I also do not hesitate to work out something in Figma or Sketch myself.</p>
        </div>
     </div>
 </div>
