<header class="navbar navbar-expand-lg bd-navbar sticky-top">
    <nav class="container">
        <a class="navbar-brand" href="#"><span style="font-weight: bold;">K</span>P</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center ms-xl-4">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active ms-xl-2" [routerLink]="['about']">About</a>
                </li>
            </ul>
            <div class="text-center">
                <a target="_blank" href="https://www.linkedin.com/in/kevin-patrzek-53b272225/">
                    <i class="bi bi-linkedin px-2"></i>
                </a>
                <a target="_blank" href="https://twitter.com/popovkov57">
                    <i class="bi bi-twitter px-2"></i>
                </a>
                <a target="_blank" href="https://github.com/Popovkov57">
                    <i class="bi bi-github px-2"></i>
                </a>
                <!-- <a target="_blank" href="https://stackoverflow.com/users/4677472/popovkov57?tab=profile">
                    <i class="bi bi-stack-overflow px-2"></i>
                </a> -->
            </div>
        </div>
    </nav>
</header>