
<div class="row vertical-center justify-content-center mt-5 mt-md-0">
    <div class="col-8">
        <h5 class="text-left">👋 Hi, I'm Kevin Patrzek,</h5>
        <h1 class="text-left mt-3"><span class="fw-bold gradient-text">Software developer</span><br> with a passion for <span class="thick fw-bold" style="font-family: sans-serif;">Front-end</span> development & design.</h1>
        <h4 class="text-left mt-3">I enjoy building solid and user-friendly web applications using my experience in interface design, TypeScript and Angular. If you need a communicative front-end developer who enjoys working as part of a team, I’d love to hear from you!</h4>
        <!-- <button type="button" class="btn btn-outline-primary mt-3">Keep in touch</button> -->
    </div>
</div>